/* .auth-cover > span {
  top: 5% !important;
} */

.auth-cover {
  background: url("../assets/images/loginPageImage.svg") no-repeat center center;
  background-size: cover !important;
}

.signUpAsNotVendor-height {
  margin-top: 26px;
  margin-bottom: 27px;
}

.signUpAsNotVendor-height-margin {
  margin-top: 35px;
}
