@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply bg-colorWhite text-colorStone;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../public/Proxima\ Nova\ Font.otf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-colorBlack;
}

.container {
  @apply w-[90%] max-w-[1246px] 2xl:max-w-[1536px] mx-auto;
}

.container-full {
  @apply w-[100%] max-w-[100%] 2xl:w-[90%] 2xl:max-w-[1536px] mx-auto;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f2f6;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  -ms-inner-appearance: textfield;
}

.label {
  border-radius: 0;
  text-shadow: none;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 8px 5px;
}

.label-big {
  border-radius: 0;
  text-shadow: none;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 18px 10px;
}

.label-small {
  border-radius: 0;
  text-shadow: none;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 6px 3px;
}

.label[class*="span"][class*="arrow"] {
  min-height: 0;
}

.label.arrowed-right {
  position: relative;
  margin-right: 9px;
}

.label-large.arrowed-right {
  margin-right: 11px;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}