@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply bg-colorWhite text-colorStone;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../public/Proxima\ Nova\ Font.otf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-colorBlack;
}

.container {
  @apply w-[95%] max-w-[1246px] 2xl:max-w-[1536px] mx-auto;
}

.MuiStepLabel-label.Mui-completed {
  color: #95539b;
  font-weight: 600;
  font-size: medium;
}
.MuiNativeSelect-select {
  font-weight: 600 !important;
  padding-left: 5px !important;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f2f6;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.oneLineAfterThreeDots {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1 !important;
}

.headerLocationDiv {
  .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    color: white;
  }

  .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
    color: white;
  }
  .css-93rhz-MuiFormLabel-root-MuiInputLabel-root {
    color: white;
  }
  .css-hemfl0-MuiFormLabel-root-MuiInputLabel-root {
    color: white;
  }
  .css-1vulq2z-MuiInputBase-root-MuiInput-root-MuiSelect-root{
    border-bottom: 1px solid gray;
  }
  .css-1mf6u8l-MuiSvgIcon-root-MuiSelect-icon{
    color: white;
  }
}
