@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply bg-colorWhite text-colorStone;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../public/Proxima\ Nova\ Font.otf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-colorBlack;
}

.container {
  @apply w-[90%] max-w-[1246px] 2xl:max-w-[1536px] mx-auto;
}

.container-full {
  @apply w-[100%] max-w-[100%] 2xl:w-[90%] 2xl:max-w-[1536px] mx-auto;
}

.MuiStepLabel-label.Mui-completed {
  color: #95539b;
  font-weight: 600;
  font-size: medium;
}
.MuiNativeSelect-select {
  padding-left: 5px !important;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f2f6;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.switch-button {
  background: lightgray;
  /* border-radius: 30px; */
  overflow: hidden;
  width: 135px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  position: relative;
  padding-right: 58px;
  position: relative;
}
.switch-button:before {
  content: "Shop";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  /* color: black; */
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(75px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 4px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #151827;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* border-radius: 30px; */
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}
