.product-parent-div {
  position: relative;
  top: 0;
  left: 0;
}

/* .product-overlay { */
  /* position: absolute; */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.product-parent-div:hover .product-overlay {
  opacity: 1;
}
.detailButton {
  position: absolute;
  top: 93%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}  */


.image-container {
  /* width: 300px; */
  /* Adjust the width as needed */
  transition: transform 0.3s ease;
  /* Smooth transition for zoom effect */
}

/* Apply zoom when hovering over the image */
.image-container:hover {
  transform: scale(1.1);
  /* You can adjust the scale factor for desired zoom level */
}